<%- model_class = Business -%>
<style>
h2{margin-left: 200px;}
</style>
<div class="page-header">
  <h2><%=t '.title', :default => [:'helpers.titles.new', '添加商家'], :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
